<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id='focusposition'></div>
<div id='realtime' ></div><br>
  <div class="field">
    <%= f.text_field :title ,placeholder: "タイトル..."%>
  </div>
  <div class="field">
    <%= f.text_field :name ,placeholder: "名前..."%>
  </div>
  <div class="field">
    <%= f.text_area :content ,:size=>"60x10",:oninput=>'PreView2()',placeholder: "内容..."%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
